*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', 'Arial', sans-serif ;
}

.header {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
}

.header .logo-place-header {
    position: absolute;
    z-index: 12;
    width: 183px;
    height: 32px;
    left: 64px;
    top: 30px;
}

.header .title {
    align-self: center;
    width: 730px;
    z-index: 12;
    margin-left: 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
}

.header .subtitle {
    position: absolute;
    margin-bottom: 30px;
    z-index: 11;
    margin-left: 64px;
    width: 388px;
    align-self: flex-end;
}

.header .subtitle a{
    text-decoration: none;
    color: #2f80ed;
}

.header .main-illustration {
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 0;
} 

.header .main-illustration img {
    width: 765px;
    height: 608px;
}

.header .square-pic {
    position: absolute;
    z-index: 9;
    margin-top: 64px;
    right: 0;
    width: 568px;
    height: 568px;
    background-color: #2f80ed;
}